{% extends 'master.html' %}
{% load static %}

{% block title %}Accesorios - BiciCenter{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Accesorios</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
         {% for accesorio in accesorios %}
        <div class="col">
            <div class="card h-100 product-card">
                {% if accesorio.imagen %}
                    <img src="{{ accesorio.imagen.url }}" class="card-img-top" alt="{{ accesorio.nombre }}">
                {% else %}
                    <img src="{% static 'img/default.jpg' %}" class="card-img-top" alt="Sin imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ accesorio.nombre }}</h5>
                    <p class="card-text">{{ accesorio.descripcion|truncatewords:15 }}</p>
                    <p class="card-text text-success">${{ accesorio.precio }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay accesorios registrados.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}